@import '../../../styles/theme.scss';

.tab-switcher {
  display: flex;
  justify-content: stretch;
  align-items: center;
  height: 5rem;
  background-color: $surface-color;
  border-radius: 0.5rem;
  overflow: hidden;
  user-select: none;

  &.disabled {
    color: #8b8b8b;
    background-color: $surface-color - #111111;
    cursor: not-allowed;
  }
}
