@import '../../../styles/grid.scss';

.app-layout {
  @include container;

  @include for-tablets-up {
    padding-top: 5rem;
    padding-bottom: 12rem;
  }

  @include for-phone-only {
    display: flex;
    flex-direction: column;
    padding: $gutter;
  }
}

.panel {
  padding: 2rem;
}
