@import './styles/theme.scss';

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Regular'),
    url(./assets/fonts/OpenSans-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-SemiBold'),
    url(./assets/fonts/OpenSans-SemiBold.ttf) format('truetype');
  font-style: normal;
  font-weight: 600;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: $app-background-color;
}

#root {
  height: 100%;
}
